@import './markdown.css';
@import './fonts.css';
@import './colors.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  color: var(--foreground);
  background: var(--background);
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-teal-600 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.btn {
  @apply bg-[var(--red)] border-1 border-solid border-[var(--background)] rounded-[11px]
  text-[aliceblue] text-lg h-10 w-24 hover:(text-[120%] border-2);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:(opacity-100 text-[var(--red)]);
  font-size: 0.9em;
}

.ext-link {
  @apply inline-block cursor-pointer select-none
  transition duration-200 ease-in-out
  hover:(underline);
}

.ext-link-icon {
  width: 12px;
  color: var(--red);
  top: -3px;
  position: relative;
}
